@charset "UTF-8";
/*!RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

/*!HEADER*/
.top_bar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 30px;
  background-color: #a336f0;
  position: fixed !important;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 9998; }
  .top_bar .contact-info {
    color: white;
    display: flex;
    align-items: center; }
    .top_bar .contact-info div {
      margin: 0 15px;
      display: flex;
      align-items: center; }
      .top_bar .contact-info div i {
        margin-right: 8px; }
  .top_bar .social-icons {
    display: flex;
    align-items: center; }
    .top_bar .social-icons a {
      text-decoration: none;
      color: white;
      margin: 0 15px;
      display: flex;
      align-items: center; }
      .top_bar .social-icons a i {
        margin-right: 8px; }

header {
  background-color: #180018;
  position: fixed !important;
  top: 30px;
  left: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  z-index: 9999;
  width: 100%;
  height: 100px; }
  header a img {
    height: 100px;
    width: 500px;
    padding: 5px;
    margin: 30px; }
  header .navegacion {
    display: flex; }
    header .navegacion label {
      display: none; }
    header .navegacion input {
      display: none; }
    header .navegacion ul {
      list-style: none;
      text-align: center;
      display: grid;
      grid-auto-flow: column;
      margin: 80px; }
      header .navegacion ul li {
        margin: 5px; }
        header .navegacion ul li a {
          color: white;
          text-decoration: none;
          font-size: 16px;
          --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }
          header .navegacion ul li a::after {
            content: "";
            display: block;
            background: white;
            width: 90%;
            margin-top: 3px;
            height: 3px;
            clip-path: var(--clippy);
            transition: clip-path .5s; }
          header .navegacion ul li a:hover {
            --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

main .hero {
  min-height: 100vh;
  position: relative;
  padding-top: 130px; }
  main .hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; }
  main .hero .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    mix-blend-mode: overlay;
    z-index: 2; }
  main .hero .texto_principal {
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%);
    /* Centra el contenido */
    text-align: left;
    /* Centra el texto horizontalmente */
    color: white;
    /* Color del texto */
    z-index: 3; }
    main .hero .texto_principal h1 {
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 20px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      animation: fadeSlideUp 1.5s ease-in-out forwards 0.5s; }
    main .hero .texto_principal p {
      font-size: 25px;
      font-weight: 600;
      letter-spacing: 1px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
      animation: fadeSlideUp 1.5s ease-in-out forwards 0.5s; }
  main .hero .contenido {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    z-index: 3; }
    main .hero .contenido h1 {
      font-size: 50px;
      margin-bottom: 20px; }
    main .hero .contenido p {
      font-size: 20px; }
  main .hero .contacto {
    position: absolute;
    color: white;
    top: 55%;
    right: 5%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 3;
    width: 300px; }
    main .hero .contacto h2 {
      text-align: center;
      margin-bottom: 15px; }
    main .hero .contacto form {
      display: flex;
      flex-direction: column; }
      main .hero .contacto form label {
        margin-bottom: 5px;
        font-weight: bold; }
      main .hero .contacto form input, main .hero .contacto form textarea {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px; }
      main .hero .contacto form button {
        padding: 10px;
        background-color: #a336f0;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease; }
        main .hero .contacto form button:hover {
          background-color: #7c1ac2; }
  main .hero #formMensaje {
    margin-top: 10px;
    font-size: 14px;
    color: green;
    display: none; }
  main .hero .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 4; }

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
    /* Comienza desplazado hacia abajo */ }
  100% {
    opacity: 1;
    transform: translateY(0);
    /* Termina en su posición normal */ } }

.benefits-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: none;
  flex-wrap: wrap; }
  .benefits-section img {
    height: 500px;
    width: 500px;
    padding: 25px; }
  .benefits-section div {
    width: 50%;
    padding: 20px;
    text-align: right;
    font-size: 20px;
    text-align: left; }
    .benefits-section div ul {
      list-style-type: disc;
      padding-left: 20px; }
      .benefits-section div ul li {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: #333; }
        .benefits-section div ul li strong {
          color: #000;
          font-weight: bold; }
    .benefits-section div button a {
      align-items: center;
      text-decoration: none;
      color: white; }

.eventos h2 {
  color: #180018;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  border-bottom: 1px solid #180018;
  /*border-top: 1px solid rgb(0, 0, 0);*/ }

.eventos p {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 10px;
  margin: 10px;
  font-size: 20px; }

.tarjetas-eventos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  flex-wrap: wrap; }
  .tarjetas-eventos div {
    display: inline-block;
    text-align: center;
    width: 180px;
    /*height: 400px;*/
    margin: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0);
    transition: all 400ms ease; }
    .tarjetas-eventos div:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-5%); }
    .tarjetas-eventos div img {
      width: 100%;
      height: 250px; }
    .tarjetas-eventos div h3 {
      font-size: 15px;
      color: black;
      padding: 30px; }

.productos-servicio {
  border: 3px solid #a336f0;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  background-color: white;
  width: 80%;
  margin: 40px auto; }

.public-places {
  border-top: 1px solid #999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap; }
  .public-places .public-places-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 200px; }
    .public-places .public-places-images img {
      width: 100%;
      max-width: 400px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
  .public-places div {
    flex: 1;
    width: 50%;
    padding: 20px;
    text-align: right;
    font-size: 20px;
    text-align: center; }
    .public-places div h2 {
      padding: 10px; }
    .public-places div p {
      margin-bottom: 20px; }
    .public-places div button a {
      text-decoration: none;
      color: white; }

footer {
  background-color: #180018;
  color: #ffffff;
  padding: 20px 0;
  text-align: center; }
  footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    gap: 50px;
    flex-wrap: wrap; }
    footer .footer-container .contact-info, footer .footer-container .logo, footer .footer-container .social-media {
      flex: 1;
      min-width: 200px;
      text-align: left; }
      footer .footer-container .contact-info h3, footer .footer-container .logo h3, footer .footer-container .social-media h3 {
        font-size: 1.2em;
        margin-bottom: 10px; }
      footer .footer-container .contact-info p, footer .footer-container .logo p, footer .footer-container .social-media p {
        margin: 8px 0;
        display: flex;
        align-items: center;
        font-size: 0.9em; }
        footer .footer-container .contact-info p i, footer .footer-container .logo p i, footer .footer-container .social-media p i {
          margin-right: 10px;
          color: #ffffff; }
    footer .footer-container .logo {
      text-align: center; }
      footer .footer-container .logo img {
        max-width: 500px;
        margin-bottom: 20px; }
      footer .footer-container .logo h2 {
        font-size: 1.2em;
        margin-left: 10px; }
      footer .footer-container .logo p {
        color: #888888;
        font-size: 0.9em; }
    footer .footer-container .social-media {
      margin-left: 100px; }
  footer .credits {
    background-color: #180018;
    color: #888888;
    padding: 10px 0;
    font-size: 0.8em; }
    footer .credits p {
      margin: 0; }
      footer .credits p:before {
        content: "© "; }

@media screen and (max-width: 1160px) {
  main .hero div {
    width: 100%; }
    main .hero div h1 {
      text-align: center;
      font-size: 35px; }
    main .hero div p {
      text-align: center;
      font-size: 25px; }
  main .carta div h2 {
    font-size: 40px; }
  main .carta div p {
    font-size: 15px; }
  main .container {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 880px) {
  header {
    background-color: rgba(255, 255, 255, 0.8);
    position: static; }
    header .navegacion label {
      display: block;
      cursor: pointer; }
      header .navegacion label img {
        margin-right: 25px; }
    header .navegacion input:checked + ul {
      clip-path: circle(100% at center); }
    header .navegacion ul {
      position: fixed;
      top: 130px;
      bottom: 0;
      background-color: black;
      width: 100%;
      left: 0;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      clip-path: circle(0 at center);
      transition: clip-path 0.8s ease-in-out;
      z-index: 1; }
      header .navegacion ul li a {
        color: #fff; }
  main .container {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 595px) {
  main .hero div h1 {
    font-size: 30px; }
  main .hero div p {
    font-size: 20px; }
  main .menu img {
    height: 300px;
    width: 400px; }
  main .menu div p {
    font-size: 15px; }
  main .cafe img {
    height: 400px;
    width: 400px; }
  main .cafe div p {
    font-size: 15px; }
  main .eventos p {
    font-size: 15px; }
  main .tarjetas-eventos {
    margin: 70px; }
  main .carta div h2 {
    font-size: 25px; }
  main .container {
    grid-template-columns: repeat(1, 1fr); }
  main .hero-cafe div h2 {
    font-size: 30px; }
  main .hero-cafe div p {
    font-size: 20px; } }
