footer{
    background: linear-gradient(rgba(255, 255, 255, 0.932), rgba(255, 255, 255, 0.201));
    display: flex;
    .menu-ayuda{
        margin: 10px;
        h3{
            font-size: 15px;
            font-weight: bold;
        }
        ul{
            list-style: none;
            padding: 10px;
            .redes-sociales{
                a{
                    img{
                        padding: 10px;
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
    }
}