footer {
    background-color: $color-primario;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto ;
        padding: 10px;
        gap: 50px;
        flex-wrap: wrap;

        .contact-info, .logo, .social-media {
            flex: 1;
            min-width: 200px;
            text-align: left;
            h3 {
                font-size: 1.2em;
                margin-bottom: 10px;
            }

            p {
                margin: 8px 0;
                display: flex;
                align-items: center;
                font-size: 0.9em;
                i {
                    margin-right: 10px;
                    color: #ffffff;
                }
            }
        }

        .logo {
            text-align: center;

            img {
                max-width: 500px;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 1.2em;
                margin-left: 10px;
            }

            p {
                color: #888888;
                font-size: 0.9em;
            }
        }
        .social-media {
            margin-left: 100px; // Ajusta este valor para desplazar la sección hacia la derecha
        }
    }

    .credits {
        background-color: rgb(24, 0, 24);
        color: #888888;
        padding: 10px 0;
        font-size: 0.8em;

        p {
            margin: 0;
            &:before {
                content: "© "; // Agrega el símbolo de copyright
            }
        }    
    }
}    