//* PALETA DE COLORES

$color-primario:rgb(24, 0, 24);
$color-secundario:rgb(255, 255, 255);


//*MIXINS

@mixin flex ($flex, $justify, $align, $direction){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}